.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}
.Error_Icon{
    height: 160px;
    width: 160px;
    margin-bottom: 15px;
}

.Forget_Text {
    color: #6678ea;
    font-size: 48px;
    font-weight: 700;
}

.para_text{
    color: #797979;
    padding-top: 25px;
    font-size: 20px;
    padding: 20px 310px;
    text-align: center;
    
}

.forget-inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.forget-input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 6px;
}

.forget-input img {
    margin: 0px 30px;
}

.forget-input input {
    height: 60px;
    width: 400px;
    border: none;
    outline: none;
    color: #000000;
    font-size: 22px;
    background-color: transparent;
}

.forget-input input::placeholder {
    color: #797979;
}

.submit_Forget {
    margin-top: -25px;
    display: flex;
    justify-content: center;
    width: 470px;
    height: 59px;
    color: #fff;
    background-color: #6678ea;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    padding-top: 18px;
}

.login-page {
    color: #6678ea;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    margin-top: -25px;
}