/* Carousel.css */
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-control1 {
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    height: 50px;
    background-color: transparent;
}
.carousel-control2 {
    background-color: #2e2727;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 300px;
    width: 100px;
    height: 50px;
    background-color: transparent
}